@model Blog.Models.Skizone
@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <div class="well">
        <h2>Delete Ski Zone</h2>
        @using (Html.BeginForm("Delete", "Skizone", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ElevationInfo, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.ElevationInfo, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Slopes, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Slopes, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LiftTicket, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.LiftTicket, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("image", "Image", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @if (!string.IsNullOrEmpty(Model.ImagePath))
                    {
                        <img src="@Model.ImagePath" alt="Skizone Image" width="200" />
                    }
                    else
                    {
                        @Html.TextBox("image", "No image", new { @class = "form-control", @readonly = "readonly" })
                    }
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(m => m.ContentInfo, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextAreaFor(m => m.ContentInfo, new { @class = "form-control", @readonly = "readonly", @rows = "7" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    @Html.ActionLink("Cancel", "Index", "Skizone", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Delete" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>

